.App{
    padding: 20px;
    display: flex;
    gap: 20px;
}

.error{
    border: 2px solid red;
}
.error-write{
    font-weight: 700;
    color: brown;
    text-align: center;
}
.choosed{
    background-color: blueviolet;
}
.pale{
    opacity: 0.5;
}
.btn-span{
    display: inline-block;
    padding: 3px;
}